---
layout: default-layout.hbs
subject: Update this yo

margin: 50
width: 600



---

		<!-- Header Content Container -->
		<tr>
			<td valign="top">
				
				<table style="background-color: #222222; width: 100%;" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td style="background-color: #222222;"></td>
						<td>
							<table cellpadding="0" cellspacing="0" border="0" align="center" width="{{ width }}">
								<tr>
									<td style="color: #ffffff;" width="{{ width }}" valign="top">
										Top
									</td>
								</tr>
							</table>
						</td>
						<td style="background-color: #222222;"></td>
					</tr>
				</table>
				
			</td>
		</tr>
		<!-- Header Content Container END -->
		
		<!-- Main Content Container -->
		<tr>
			<td valign="top">
				
				<table style="background-color: #ffffff; width: 100%;" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td style="background-color: #ffffff;"></td>
						<td>
							<table cellpadding="0" cellspacing="0" border="0" align="center" width="{{ width }}">
								<tr>
									<td style="color: #222222;" width="{{ width }}" valign="top">
										Middle
									</td>
								</tr>
							</table>
						</td>
						<td style="background-color: #ffffff;"></td>
					</tr>
				</table>
				
			</td>
		</tr>
		<!-- Main Content Container END -->
		
		<!-- Footer Content Container -->
		<tr>
			<td valign="top">
				
				<table style="background-color: #27bdbe; width: 100%;" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td style="background-color: #27bdbe;"></td>
						<td>
							<table cellpadding="0" cellspacing="0" border="0" align="center" width="{{ width }}">
								<tr>
									<td style="color: #222222;" width="{{ width }}" valign="top">
										Top
									</td>
								</tr>
							</table>
						</td>
						<td style="background-color: #27bdbe;"></td>
					</tr>
				</table>
				
			</td>
		</tr>
		<!-- Footer Content Container END -->
		